<!DOCTYPE HTML>
<html ng-app='app'>
<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="">
	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
	 <script>
	 	var app = angular.module('app',[]);
	 	app.controller('MainController', function($http){
	 		var vm = this;
         //vm.data = false;
          vm.fetchData = function(user){
            vm.loading = true;
	 		$http.get('https://api.github.com/users/'+ user.name).then(function(res){
                vm.data = res;
                vm.loading = false;
              //vm.data = true;
              vm.name = res.data.name;
              vm.followers = res.data.followers;
              vm.loading = false;
              })
            }
	 	})
	 </script>
</head>
<body ng-controller='MainController as vm'>
  <label for="enter">Enter a Github username: </label> 
	<input type="text" ng-model="user.name" name="enter">
  <button ng-click="vm.fetchData(user)">GO!</button>
  <p>By clicking "GO!" the JSON returned by the API will be displayed.</p>
  <h4 ng-if="vm.loading === true">Loading...</h4>
   <h3>{{vm.data}}</h3> 
  <!--<h3 ng-hide="vm.data === false">Name: {{vm.name}} --- Followers: {{vm.followers}}</h3> -->
    
</body>
</html>